<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="text-white">Welcome to Live Fit</h1>
    </div>
</div>

<div class="container btn-container">
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="single-content">
                <img src="/static/auth/images/dietician.jpg" alt="dietician">
                <div class="text-content">
                    <a href="/dietician">Meal Plan</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="single-content">
                <img src="/static/auth/images/ayurvedic.jpg" alt="ayurvedic">
                <div class="text-content">
                    <a href="#">Ayurvedic Tips</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-3">
            <div class="single-content">
                <img src="/static/auth/images/workout.jpg" alt="workout">
                <div class="text-content">
                    <a href="/workouts">Workout Helper</a>
                </div>
            </div>
        </div>
    </div>
</div>