{% extends '../base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
LiveFit | Dietician
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center text-white bg-dark mt-4 p-3">Get Your Diet Plan</h1>
    <form action="/dietician" method="POST" class="bootstrap4">
        {% csrf_token %}
        <div class="form-group">
            {{form.name|as_crispy_field}}
        </div>
        <div class="form-group">
            {{form.age|as_crispy_field}}
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                {{form.height|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.weight|as_crispy_field}}
            </div>
        </div>
        <div class="from-group row">
            <div class="col-md-6">
                {{form.gender|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.exercise|as_crispy_field}}
            </div>
        </div>
        <div class="form-group">
            {{form.diabetic|as_crispy_field}}
        </div>
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
    <div>
        {% for mp in mealplan %}
        {{mp}}
        <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}