{% extends '../base.html' %}
{% load static %}

{% block title %}
LiveFit
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock %}

{% block content %}
{% for msg in messages  %}
<div class="alert {{msg.tags}} alert-dismissible fade show" role="alert">
    {{ msg.message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% if user.is_authenticated%}
<a href="/dietician" class="btn btn-primary">Dietician</a>
{% else %}
{% include 'partials/_landingpage.html' %}
{% endif %}

{% endblock content %}